body {
 /* background-color: black; */
 /* color: lightskyblue; */
}

#petShow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.petFacts {
    border: 1px solid gray;
    width: 26%;
    text-align: center;
    margin: 15px;
    box-shadow: 2px 3px 11px slategray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img {
    width: 150px;
    border-radius: 10%;
    box-shadow: 2px 3px 9px darkgrey;
    align-self: center;
}

pet-button {
    justify-content: flex-end;  
}
button {
    width: 63px;
    height: 23px;
    border-radius: 13%;
    margin-bottom: 20px;
}

.c-name {
    border-bottom: 1px solid gray;
    padding: 5px;
}
.name {
    background-color: lightgrey;
    color: darkslategray;
    margin: 0;
    height: 20px;
    margin-bottom: 5px;
    padding: 7px;
}

.type {
    margin: 0;
}

.title {
    font-size: 50px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

button {
    border: 2px solid lightskyblue;
}

p {
    text-align: center;
}

.cat, .dino, .dog {
    max-height: 100px;
    font-size: 18px;
}
 .cat {
     background-color: lightblue;
     color: darkblue;
 }
 .dog {
     background-color: lightgreen;
     color: darkgreen;
 }
 .dino {
     background-color: lightyellow;
     color: orange;
 }

.cardFooter {
     margin: 0;
 }